<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BBB55AB11C8F80020050DDA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBB55ABB1C8F80020050DDA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBB55AD31C8F88F20050DDA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBB55ADC1C8F88F20050DDA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBB55AF01C8F8BE00050DDA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBB55AFD1C8F8CBB0050DDA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBB55B061C8F8CBB0050DDA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
